<<<<<<< HEAD
{% comment %}
=======
>>>>>>> origin/2.0
<div class="container">
  <div class="collection">
    <h1 class="collection-title">{{ collection.title }}</h1>
    <div class="collection-list flex space-between">
<<<<<<< HEAD
      {% render 'product-card' for collection.products as product %}
    </div>
  </div>
</div>
{% endcomment %}

<div class="container">
  <div class="collection">
    <h1 class="collection-title">{{ collection.title }}</h1>
    <div class="collection-list">
=======
>>>>>>> origin/2.0
        {% render 'product-card' for collection.products as product %}
    </div>
  </div>
</div>
